<div class="container mt-3">
    <div class="container">
        <h1 th:if="${hasError}" th:text="${error}"></h1>
    </div>
    <div class="container">
        <form class="form-signin mt-xl-5" method="post" th:action="@{/admin/add-bolnica}">
            <h2 class="form-signin-heading"> Болница </h2>
            <p>
                <label for="naziv" class="sr-only"> Назив на болница </label>
                <input type="text" id="naziv" name="naziv" class="form-control" placeholder="naziv" required=""
                       autofocus="">
            </p>
            <p>
                <label for="grad" class="sr-only"> Град </label>
                <input type="text" id="grad" name="grad" class="form-control" placeholder="grad" required=""
                       autofocus="">
            </p>
            <p>
                <label for="broj" class="sr-only"> Број </label>
                <input type="number" id="broj" name="broj" class="form-control" placeholder="broj" required=""
                       autofocus="">
            </p>
            <p>
                <label for="ulica" class="sr-only"> Улица </label>
                <input type="text" id="ulica" name="ulica" class="form-control" placeholder="ulica" required=""
                       autofocus="">
            </p>
            <p>
                <label for="smetka_bolnica" class="sr-only"> Сметка </label>
                <input type="text" id="smetka_bolnica" name="smetka_bolnica" class="form-control"
                       placeholder="smetka_bolnica" required=""
                       autofocus="">
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit"> Додади </button>
        </form>
    </div>
</div>