<section class="jumbotron text-center" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <h3> Слободни термини </h3>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${termini.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"> Термин ИД</th>
                        <th scope="col"> Доктор ИД </th>
                        <th scope="col"> Време </th>
                        <th scope="col">  </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="termin : ${termini}" class="termin" th:if="${#request.getRemoteUser() == termin.getKorisnik().getUsername()}">
                        <td th:text="${termin.getTermin_id()}"></td>
                        <td th:text="${termin.getCovek_id()}"></td>
                        <td th:text="${termin.getVreme()}"></td>
                        <td class="text-right">
                            <th:block sec:authorize="hasRole('ROLE_DOKTOR')">
                                <a th:href="@{'/doktor/termin/{id}/delete' (id=${termin.getTermin_id()})}" th:method="GET">
                                    <i class="btn btn-primary"> Отстрани </i>
                                </a>
                            </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>