<div class="page-hero bg-image overlay-dark" style="background-image: url(../assets/img/slider_1.jpg);">
    <div class="hero-section">
        <div class="container text-center wow zoomIn" sec:authorize="!isAuthenticated()">
            <span class="subhead">Платформа за онлајн закажување на здравствени термини</span>
            <h1 class="display-4">MedWeb</h1>
            <a href="/login" class="btn btn-primary">Закажи Термин</a>
        </div>
        <div class="container text-center wow zoomIn" sec:authorize="hasRole('ROLE_DOKTOR')">
            <span class="subhead">Најавен доктор:</span>
            <h1 class="display-4">
                <th:block th:if="${#request.getRemoteUser() != null}"
                          th:text="${#request.getRemoteUser()}"></th:block></h1>
            <a th:href="@{'/doktor/vnesi-termin'}" class="btn btn-primary">Внеси нов термин</a>
            <a th:href="@{'/doktor/{username}-kalendar' (username=${#request.getRemoteUser()})}"
               class="btn btn-primary"> Календар </a>
        </div>
        <div class="container text-center wow zoomIn" sec:authorize="hasRole('ROLE_PACIENT')">
            <span class="subhead">Најавен пациент:</span>
            <h1 class="display-4">
                <th:block th:if="${#request.getRemoteUser() != null}"
                          th:text="${#request.getRemoteUser()}"></th:block></h1>
            <a th:href="@{'/pacient/{username}-kalendar' (username=${#request.getRemoteUser()})}"
               class="btn btn-primary"> Календар </a>
        </div>

        <div class="container text-center wow zoomIn" sec:authorize="hasRole('ROLE_ADMIN')">
            <span class="subhead">Најавен админ:</span>
            <h1 class="display-4">
                <th:block th:if="${#request.getRemoteUser() != null}"
                          th:text="${#request.getRemoteUser()}"></th:block></h1>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Разговарај</span> со стручно лице</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Брзо</span> и сигурно</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Избери</span> сам што е најдобро</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
