<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">МедВеб</h1>
            <h3 class="jumbotron-heading">Сите упати</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${upati.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr sec:authorize="hasRole('ROLE_DOKTOR')">
                            <th scope="col">Дијагноза</th>
                            <th scope="col">Наменет за пациент:</th>
                            <th scope="col">Оддел</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="upat : ${upati}" class="upat"
                            th:if="${#request.getRemoteUser() == upat.getDoktor()}"
                            sec:authorize="hasRole('ROLE_DOKTOR')">

                            <td th:text="${upat.getDijagnoza()}"></td>
                            <td th:text="${upat.getKorisnik() != null}
                            ? ${upat.getKorisnik().getUsername()} : 'Нема пациент'"></td>
                            <td th:text="${upat.getOddel() != null}
                        ? ${upat.getOddel().getNaziv()}  + ' - ' + ${upat.getOddel().getBolnica_id().getNaziv()} : 'Нема оддел'"></td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_DOKTOR')">
                                    <form th:if="${upat.getRezervacija() == null || (upat.getRezervacija() != null && upat.getRezervacija().getTransakcija() == null)}"
                                          th:action="@{'/upati/delete/{id}' (id=${upat.getUpat_id()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_DOKTOR')">
                                    <a th:if="${upat.getRezervacija() == null || (upat.getRezervacija() != null && upat.getRezervacija().getTransakcija() == null)}"
                                       th:href="@{'/upati/edit-form-{id}' (id=${upat.getUpat_id})}"
                                       class="btn btn-sm btn-info edit-upat">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                    <i  class="fa fa-trash" th:unless="${upat.getRezervacija() == null || (upat.getRezervacija() != null && upat.getRezervacija().getTransakcija() == null)}">
                                        За упатот веќе има закажан термин, не може да се брише или ажурира!
                                    </i>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <th:block sec:authorize="hasRole('ROLE_PACIENT')">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <h3 class="jumbotron-heading">Упати за
                                        <th:block th:if="${#request.getRemoteUser() != null}"
                                                  th:text="${#request.getRemoteUser()}"></th:block>
                                    </h3>
                                    <thead>
                                    <tr>
                                        <th scope="col">Дијагноза</th>
                                        <th scope="col">Издаден од доктор</th>
                                        <th scope="col">Оддел</th>
                                        <th scope="col">Термин</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="upat : ${upati}"
                                        th:if="${#request.getRemoteUser() == upat.getKorisnik().getUsername()}"
                                        class="cart-item">
                                        <td th:text="${upat.getDijagnoza()}"></td>
                                        <td th:text="${upat.getDoktor() != null} ? ${upat.getDoktor()} : 'Нема доктор'"></td>
                                        <td th:text="${upat.getOddel() != null} ? ${upat.getOddel().getNaziv()} + ' - ' + ${upat.getOddel().getBolnica_id().getNaziv()} : 'Нема оддел'"></td>
                                        <td th:text="${upat.getRezervacija() == null || (upat.getRezervacija() != null && upat.getRezervacija().getTransakcija() == null)} ? 'Нема закажан термин за упатот или истиот не е потврден со трансакција' : ${upat.getRezervacija().getTermin().getVreme()}"></td>
                                        <td class="text-right" th:if="${upat.getRezervacija() == null ||
                                                                upat.getRezervacija() != null && upat.getRezervacija().getTransakcija() == null}">
                                            <a th:href="@{'/pacient/zakazi-termin-{id}' (id=${upat.getUpat_id()})}"
                                               class="btn btn-sm btn-info">
                                                <i class="fa fa-trash"> Закажи термин </i>
                                            </a>
                                        </td>
                                        <td class="text-right" th:unless="${upat.getRezervacija() == null ||
                                                                upat.getRezervacija() != null && upat.getRezervacija().getTransakcija() == null}">
                                            <i class="fa fa-trash"> - </i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </th:block>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_DOKTOR')">
                        <a href="/upati/add-form" class="btn btn-block btn-dark add-upat-btn">
                            Внеси нов упат
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
